*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.App{
	width: 100%;
	min-height: 100vh;
	border: 1px solid red;
	
	background-color:#3E606F;
	;
	
	font-weight: bold;
	display: flex;
	color: black;
}
.container{
	width: 100%;
    max-width: 400px;
	margin: auto;
	padding: 8rem;
	display: flex;
	/* justify-content:center; */
	flex-direction: column;
	background-color:#91AA9D;
	border-radius: 1rem;
	box-shadow: 1px 1px 25px 0px black;

	
}